<div class="page-header">
  <%= link_to new_expense_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>Add Participants</h1>
</div>

<dl class="dl-horizontal">
  <dt>Title:</dt>
  <dd><%= @expense.title %></dd>

  <dt>Total amount:</dt>
  <dd><%= number_to_currency(@expense.total_amount) %></dd>

  <dt>Total person</dt>
  <dd><%= @expense.total_person %></dd>

</dl>

<%= render 'form2' %>
