<div class="page-header">
  <%= link_to new_expense_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Expense
    <% end %>

  <h1>Listing Expenses</h1>

</div>

<div class="table-responsive">
<table

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Title</th>
            <th>Total amount</th>
            <th>Total person</th>
            <th>Cleared</th>
            <th>Comment</th>
            <th>Show</th>
            <th>Edit</th>
            <th>Delete</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @expenses) do |expense| %>
            <td><%= expense.title %></td>
            <td><%= expense.total_amount %></td>
            <td><%= expense.total_person %></td>
            <td>
                <%= link_to("/expenses/#{expense.id}/toggle_completed") do %>
                <% if expense.cleared %>
                  <span class="glyphicon glyphicon-ok"></span>
                <% else %>
                  <span class="glyphicon glyphicon-unchecked"></span>
                <% end %>
            <% end %>
            </td>
        <td><%= expense.comment %></td>



 <td><%= link_to 'Show', expense %></td>
            <td><%= link_to 'Edit', edit_expense_path(expense) %></td>

<!--           <button type="button" data-id="3" class="btn btn-default editButton">Edit</button></td>  -->
<!-- <td><button class="btn btn-default" data-toggle="modal" data-target="#myModal">
    Add People
</button></td> -->
        <td><%= link_to 'Delete', expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>


</div>




