<div class="page-header">
  <%= link_to expenses_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_expense_path(@expense), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show expense</h1>
</div>

<dl class="dl-horizontal">
  <dt>Title:</dt>
  <dd><%= @expense.title %></dd>

  <dt>Total amount:</dt>
  <dd><%= @expense.total_amount %></dd>

  <dt>Total person:</dt>
  <dd><%= @expense.total_person %></dd>

  <dt>Amount per person:</dt>
  <dd><%= @expense.responsible_amount %></dd>

  <dt>Comment:</dt>
  <dd><%= @expense.comment %></dd>

</dl>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Person Name</th>
            <th>Responsible amount</th>
            <th>Amount you payed</th>
            <th>Amount owed</th>
            <th>Amount with who</th>
      </tr>
    </thead>

    <tbody>
    <% counter = 0 %>
    <% counter2 = 1 %>
    <% counter3 = 0 %>
            <% for i in 1..@expense.total_person %>

            <tr>
            <td><%= @expense.participant[counter]%></td>
            <td><%= @expense.responsible_amount %></td>
            <td><%= @expense.participant[counter2] %></td>
            <td><%= @expense.amount_net[counter3] %></td>
            <td><%= @expense.amount_with_who %></td>
            </tr>
            <% counter += 2 %>
            <% counter2 += 2 %>
            <% counter3 += 1 %>
            <% end %>
    </tbody>
  </table>
